body {
    
    font-size:22px;
    line-height: 32px;
    word-wrap:break-word !important;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    margin-top:  0px;
    padding: 0;

}

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
      background-color: #fff7f7;
  }
  
  .topnav a {
    float: left;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav-right {
    float: right;
    margin-top: 2%;
  }
  nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: hidden;
      }


      nav a {
        display:block;
        padding:0 5px;
        color:#000000;
        font-size:13px;
        line-height:20px;
        text-decoration:none;
    }
    
    .favon a:hover {
 
        background-color: #0000CD;
        color:white;
     }
     .favon{
     
     background-color: #fff;
     color: white;
     
     }

     
nav ul ul {
    display: none;
    position: absolute;
    top: 20px;

}

nav ul li:hover > ul {
    display:inherit;
 
}
nav ul ul li {
    width:230px;
    float:none;
    display:list-item;
    position: relative;
}
nav ul ul li {
    border: 1px solid white;
}

nav li > a:after { content:  ' ▼'; }
li > a:only-child:after { content: ''; }

nav ul li {
    display:inline-block;
  
    }

li a {
    display: block;
     text-align: center;
    padding: 0px;
    text-decoration: none;
}
.c-button {
    
  background-color: #611f69;
      color: #fff;
      fill: #fff;
      cursor: pointer;
      padding: 12px 15px;
      border-radius: 4px;
      text-align: center;
      font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
      font-weight: 700;
      line-height: 1.28571429;
      letter-spacing: .8px;
      font-size:.875rem;
      text-decoration: none;
      
  }
.peace{
  background-color: #fff7f7;
}
  .hero__header{
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
     background-color: #fff7f7;
}

h1 {
  font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -1.5px;
  font-size: 50px;
  margin-bottom:1rem;
  color:#1D1D1D;
}

.container {
  width: 100%;
  height: auto;
  position:relative;
}
.container video{
 float:right;
 max-width:50%;
 position:right;
 margin-top:-320px;
}
#main{
  float:right;
  margin-top:-400px;
  display:block;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  /* font-weight: 400; */
  /* line-height: 1.44444444; */
  letter-spacing: normal;
  font-size: 1.125rem;
  /* margin-bottom: 1rem; */
  margin-right: 100px;

}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

}

.o-content{
  background-color: #ffffff;
  
  }
  
  .content-header{
      font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
      font-weight: 700;
      line-height: 1.1875;
      letter-spacing: -.8px;
      margin-top: 0;
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
  }
 
  .o-section{
     display: inline;
      color: #1264a3;
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px solid #1264a3;
      word-break: break-word;
      font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
      line-height: 1.44444444;
      letter-spacing: normal;
      font-size: 1.125rem;
      font-weight: 400;
      
  }
  
  
  .c-card{
      font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
      max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
      
  }

  
.image{

  	margin: 0;
    width: auto;
    margin-bottom: 20px;
    max-width: 50%;
    height: 270px;
    border: 0;
    margin-right: 50px;
    float: right;
    margin-top:-350px;
    padding: 60px;
    position: relative;
}

.s-class a{

  padding: 25px;
  
}

.s-class{
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 47px;

}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #ffffff;
}

.p-content{

  background-image: url(/80588/spacesuit/source/images/backgrounds/bg-halftone-black-20p.png);
  background-size: 1300px 700px;
  background-repeat: repeat;
  background-color: #4a154b;
  display: flex;
  height: 200px;
 

}

.header3{
  font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  /* font-weight: 100; */
  line-height: 1.1875;
  letter-spacing: -.8px;
  /* text-align: center; */
   margin: 0 auto;
  /* margin-top: 30px; */
  font-size: 30px;
  /* margin-bottom: 1rem; */
  max-width: 50%;
  text-align: center;
}


 .d-button{
    
  background-color: #ffffff;
      color: #611f69;
      fill: #fff;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 4px;
      text-align: center;
      font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
      font-weight: 700;
      line-height: 1.28571429;
      letter-spacing: .8px;
      font-size:.875rem;
      text-decoration: none;
      
  } 
  

  #navcontainer ul 
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline-block; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;


}



/* SAMMY'S CSS CODES */

footer{
  height: 400px;
  width: 97.5vw;
  /* background-color: black; */
  
  
}

.f-div{

  width: 100px;
  height: 400px;
  /* background-color:yellow;  */
  float:left;
  margin-left: 35px;
  margin-top:-10px;
 
  
}

.s-div{

  width: 200px;
  height: 400px;
  /* background-color:red; */
  float: left;
  margin: 80px;
  margin-top: -10px;
 
  
}
.t-div{

  width: 200px;
  height: 400px;
  /* background-color:blue; */
  float: left;
  margin: -40px;
  margin-top: -10px;

  
}

.u-div{

  width: 150px;
  height: 350px;
  /* background-color:purple; */
  float: left;
  margin: 35px;
  margin-top: -10px;
  
}

.left-div{
  height: 400px;
  width:30vw;
  /* background-color: aqua; */
  float: left;
  margin-top: 60px;
}

.right-div{
  height: 400px;
  width:67vw;
  /* background-color: indigo; */
  
  float: left;
}
.right-div ul li{

  list-style: none;
  

}
.pea{

  margin-left: -50px;
  font-size: 18px;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  list-style: none;
  margin-top:50px;

  
}
.sam{

  font-size: 12px;
  margin-left: -28px;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  


}
.uc {
 margin-top: 2px;
 margin-left: 10px;

}
.nd {
  margin-left: 30px;
}
.right-div a {
  color: #000000;
}

.pac {

  margin-left: 10px;
}

.sam li a{
  text-align: justify;
}
.du {

  margin-left: 20px;
}